<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>おすすめポイント</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% films.each do |film| %>
      <tr>
        <td>
          <%= link_to(film.user) do %>
            <%= image_tag film.user.get_profile_image(50,50) %>
          <% end %>
        </td>
        <td><%= link_to film.title,film, class: "film_#{film.id}" %></td>
        <td><%= film.body %></td>
        <% if admin_signed_in? || current_user == film.user %>
          <td><%= film.favorites.count %>いいね</td>
        <% else %>
          <td id="favorite_buttons_<%= film.id %>">
            <%= render 'user/favorites/favorite', film: film %>
          </td>
        <% end %>
        <td>コメント数: <%= film.film_comments.count %></td>
        <td>
          <div id="star-rate<%= film.id %>"></div>
            <script>
              $('#star-rate<%= film.id %>').empty();
              $('#star-rate<%= film.id %>').raty({
                size       :36,
                starOff    : '<%= asset_path('star-off.png') %>',
                starOn     : '<%= asset_path('star-on.png') %>',
                starHalf   : '<%= asset_path('star-half.png') %>',
                half       : true,
                readOnly   : true,
                score: <%= film.star %>,
              });
            </script>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>