<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1 class="text-center">投稿編集</h1>
  		<%#= render 'layouts/errors', obj: @book %>
  		<%= form_with model: film do |f| %>
        <div class="form-group">
          <%= f.label :"タイトル" %>
          <%= f.text_field :title, class: 'form-control film_title' %>
        </div>
        <div class="form-group">
          <%= f.label :"おすすめポイント" %>
          <%= f.text_area :body, class: 'form-control film_body', rows:"5" %>
        </div>
        <div class="form-group">
          <%= f.label :"画像" %>
          <%= f.file_field :image, class: 'form-control-file film_image', accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.submit "編集を保存する", class: 'btn btn-outline-success' %>
        </div>
      <% end %>
  		<%= link_to '投稿詳細', film_path(@film.id), class: "film_#{@film.id}" %> |
  		<%= link_to '戻る', films_path, class: "back" %>
  	</div>
  </div>
</div>