<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h3>あなたの会員情報</h3>
      <%= render 'user/users/info', user: current_user %>
      <%= render 'genres', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3><%= @genre.name %> 一覧</h3><h6>(<%= "#{@genre.films.count}件" %>)</h6>
      <p>
        <%= link_to '新しい順', films_genre_search_path(@genre.id, latest: "true") %>
        |<%= link_to '古い順', films_genre_search_path(@genre.id, old: "true") %>
        |<%= link_to 'いいね順', films_genre_search_path(@genre.id, favorited_count: "true") %>
        |<%= link_to '評価の高い順', films_genre_search_path(@genre.id, star_count: "true") %>
      </p>
      <%= render 'index', films: @films %>
    </div>
  </div>
</div>