<div class='container px-5 px-sm-0'>
  <%#= render 'layouts/errors', obj: @film %>
  <div class='row'>
    <div class='col-md-3'>
      <h3>あなたの会員情報</h3>
      <%= render 'user/users/info', user: current_user %>
      <%= render 'genres', genres: @genres %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3><%= @genre_searched.name %> 一覧</h3><h6>(<%= "#{@all_films_searched.count}件" %>)</h6>
      <p>
        <%= link_to '新しい順', films_path(latest: "true") %>
        |<%= link_to '古い順', films_path(old: "true") %>
        |<%= link_to '評価の高い順', films_path(star_count: "true") %>
      </p>
      <%= render 'index', films: @films %>
    </div>
  </div>
</div>