<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class="text-center mt-4">☆投稿ページへようこそ☆</h2>
      <p class="text-center mt-4">
        あなたの好きな作品やお気に入りの作品を投稿して<br>
        みんなとシェアしましょう！<br>
        仲間があなたの投稿を待っています！
      </p>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= render 'layouts/errors', obj: @film %>
      <%= form_with model: @film do |f| %>
       <div class="form-group">
         <%= f.label :"タイトル（30文字以内）" %>
         <%= f.text_field :title, class: 'form-control film_title' %>
       </div>

       <div class="form-group">
         <%= f.label :"おすすめポイント（300文字以内）" %>
         <%= f.text_area :body, class: 'form-control film_body', rows: "5" %>
       </div>

       <div class="form-group">
         <%= f.label :"ジャンル名" %>
         <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択してください--", class: "form-control" %>
       </div>

       <div class="form-group row" id="star">
         <%= f.label :star,'評価', class:'col-md-3 col-form-label' %>
         <%= f.hidden_field :star, id: :review_star %>
       </div>
       <script>
         $('#star').empty();
         $('#star').raty({
            size     :36,
            starOff  : '<%= asset_path('star-off.png') %>',
            starOn   : '<%= asset_path('star-on.png') %>',
            starHalf : '<%= asset_path('star-half.png') %>',
            scoreName: 'film[star]',
            half: true
         });
       </script>

       <div class="form-group">
         <%= f.label :"画像" %>
         <%= f.file_field :image, class: 'form-control-file film_image', accept: 'image/*' %>
       </div>

       <div class="form-group">
         <%= f.submit "投稿する！", class: 'btn btn-outline-success' %>
       </div>
      <% end %>
    </div>
  </div>
</div>