<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>名前</th>
	  <td><%= user.name %></td>
  </tr>
  <tr>
	  <th>性別</th>
	  <td><%= user.sex_i18n %></td>
  </tr>
  <tr>
    <th>年齢層</th>
    <td><%= user.age_group_i18n %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td>
      <%if user.is_valid? == true %>
       <span class="text-success">有効</span>
      <% else %>
       <span class="text-danger">退会済み</span>
      <% end %>
    </td>
  </tr>
</table>
<% if user.name != "guestuser" %>
 <% if current_user == user %>
  <div class='row'>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-edit"></i>
    <% end %>
  </div>
 <% end %>
<% end %>
<div class='row mt-4'>
  <p class="mx-auto">☆shere your recommendations☆</p>
  <%= link_to "投稿する", new_film_path, class: "btn btn-outline-info btn-block mt-1" %>
</div>