<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>名前</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>性別</th>
	  <th><%= user.sex_i18n %></th>
  </tr>
  <tr>
    <th>年齢層</th>
    <th><%= user.age_group_i18n %></th>
  </tr>
</table>

<% if current_user == user %>
  <div class='row'>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" do %>
      <i class="fas fa-user-edit"></i>
    <% end %>
  </div>
<% end %>
<div class='row mt-5'>
  <p class="mx-auto">☆shere your recommendations☆</p>
  <%= link_to "投稿する", new_film_path, class: "btn btn-outline-info btn-block mt-1" %>
</div>