<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-9 px-5 px-sm-0 mx-auto">
      <h1 class="text-center">管理者用投稿一覧</h1><h6>(<%= @film_count.count %>件)</h6>
      <p>
        <%= link_to '新しい順', admin_films_path(latest: "true") %>
        |<%= link_to '古い順', admin_films_path(old: "true") %>
        |<%= link_to 'いいね順', admin_films_path(favorited_count: "true") %>
      </p>
      <table class='table table-hover table-inverse'>
        <thead class="thead-light">
          <tr>
            <th>投稿者</th>
            <th>タイトル</th>
            <th>おすすめポイント</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
         <% @films.each do |film| %>
          <tr>
            <td><%= film.user.name %></td>
            <td><%= link_to film.title, admin_film_path(film.id), class: "admin_film_#{film.id}" %></td>
            <td><%= film.body %></td>
            <td><%= film.favorites.count %>いいね</td>
            <td>コメント数: <%= film.film_comments.count %></td>
          </tr>
         <% end %>
        </tbody>
      </table>
      <%= paginate @films, theme: 'twitter-bootstrap-4',pagination_class: "pagination-sm",nav_class: "d-inline-b" %>
    </div>
  </div>
</div>